@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<link rel="stylesheet" type="text/css" href="~/Content/responsive.css">
	<link rel="stylesheet" type="text/css" href="~/Content/main.css">
	<style>
		.seo-theme .theme-main-menu {
			box-shadow: none;
		}
		.seo-theme .our-service.m-fix {
			margin: 20px 0 0 0;
		}
	</style>
</head>
<body class="seo-theme">
	<div class="main-page-wrapper">
		<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
		<header class="seo-header">
			<div class="top-header">
				<div class="container">
					<div class="float-right right-side">
						<ul>
							<li><a href="#" class="tran3s"><i class="flaticon-envelope"></i> companymail@gamil.com</a></li>
							<li><a href="#" class="tran3s"><i class="flaticon-phone"></i> 0 (855) 233-5385</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="theme-main-menu">
				<div class="container">
					<div class="main-container clearfix">
						<div class="logo float-left"><a href="~/Home/Index"><img src="" alt="Logo"></a></div>
						@*<div class="right-content float-right">
							<button class="search round-border tran3s" id="search-button"><i class="flaticon-search"></i></button>
							<a href="#" class="button-four">Free SEO ANALYZE</a>
							<div class="search-box tran5s" id="searchWrapper">
								<button id="close-button" class="se-p-color"><i class="flaticon-cancel"></i></button>
								<div class="container">
									<img src="~/images/logo/logo4.png" alt="Logo">
									<form action="#">
										<input type="text" placeholder="Search....">
										<button class="se-p-bg-color"><i class="flaticon-search"></i></button>
									</form>
								</div>
							</div>
						</div>*@
						<div class="menu-wrapper float-right">
							<nav id="mega-menu-holder" class="clearfix">
								<ul class="clearfix">
									<li><a href="~/Home/Index">ホーム</a></li>
									<li><a href="~/Home/About">会社情報</a></li>
									<li><a href="~/Home/Service">商品情報</a></li>
									<li><a href="~/Home/Contact">その他</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="visual_mask">
			<img src="~/images/home/visual_company.jpg" alt="" width="1366" height="600" class="visual_bg" data-prlx="3" style="transform: translateY(-8.69px);">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 122" class="btm-skew"><path fill="#fff" d="M0 122v-1.9l1366-120.1v122h-1366z"></path></svg>
		</div>
		<section id="company-intro-section" class="company-section">
			<div class="section_inner">
				<h2 class="section_title small">
					<span class="en">About Parente</span>
					<span class="ja">パレンテについて</span>
				</h2>
				<p class="txt">
					1977 年に創業。2002 年にコンタクトレンズ販売を開始、2008年よりコンタクトレンズ EC事業に参入し、時代の流れとお客様のニーズを見極め成長を続けてきました。<br>
					自社コンタクトブランド「WAVE」の開発・ロジスティクスセンターの設置・お客様の声を頂くための実店舗運営・サポートセンターの設置等、お客様へ「ここちよさ」を提供するための仕組みを導入し、2016年8月時点で約440万人のオンライン会員様を保有するまでに成長いたしました。<br>
					これまでに蓄えたノウハウを活かし、IT企業として、コンタクトレンズ事業の枠に捕らわれることなく、チャレンジを続けていきます。
				</p>
			</div>
		</section>
		<section id="company-info-section" class="company-section">
			<div class="section_inner">
				<h2 class="section_title small">
					<span class="en">Company</span>
					<span class="ja">会社概要</span>
				</h2>
				<div class="company-info-table-wrap">
					<table class="company-info-table">
						<tbody>
							<tr>
								<th>会社名</th>
								<td>株式会社 パレンテ</td>
							</tr>
							<tr>
								<th>所在地</th>
								<td>〒260-0015 千葉市中央区富士見2-2-1 ニュー千葉ビル2号館 4F</td>
							</tr>
							<tr>
								<th>代表者名</th>
								<td>代表取締役 吉田 忠史</td>
							</tr>
							<tr>
								<th>資本金</th>
								<td>1,000万円</td>
							</tr>
							<tr>
								<th>設立</th>
								<td>1977年10月</td>
							</tr>
							<tr>
								<th>従業員</th>
								<td>140人（2016年10月末日現在/パート・アルバイト含む）</td>
							</tr>
							<tr>
								<th>事業内容</th>
								<td>
									1.ECフルフィルメント事業<br>
									2.コンタクトレンズ小売事業（店舗販売・インターネット通販）
								</td>
							</tr>
							<tr>
								<th>電話番号</th>
								<td>050-5578-1760</td>
							</tr>
							<tr>
								<th>販売業許可</th>
								<td>高度管理医療機器販売許可 千保 第0641号</td>
							</tr>
							<tr>
								<th>取引先</th>
								<td>
									ジョンソン･エンド･ジョンソン株式会社 ビジョンケアカンパニー<br>
									日本アルコン株式会社<br>
									ボシュロム・ジャパン株式会社<br>
									株式会社シンシア<br>
									株式会社シード<br>
									株式会社メニコン<br>
									株式会社アイレ<br>
									株式会社イトーレンズ<br>
									楽天株式会社<br>
									GMOペイメントゲートウェイ株式会社<br>
									株式会社ネットプロテクションズ<br>
									株式会社日本郵便<br>
									株式会社ヤマダ電機<br>
									ヤフー株式会社<br>
									Google株式会社<br>
									アマゾンジャパン合同会社<br>
									株式会社インタースペース<br>
									株式会社カカクコム<br>
									（順不同）
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section id="company-history-section" class="company-section">
			<div class="section_inner">
				<h2 class="section_title small">
					<span class="en">Corporate History</span>
					<span class="ja">沿革</span>
				</h2>
				<dl class="history-list column">
					<dt class="period">1977年 10月</dt>
					<dd class="thing">株式会社パレンテ設立</dd>
					<dt class="period">2002年 4月</dt>
					<dd class="thing">コンタクトレンズの販売店「アップル」をJR千葉駅前に開設</dd>
					<dt class="period">2003年 11月</dt>
					<dd class="thing">「アップル」大宮店をJR大宮駅前に開設</dd>
					<dt class="period">2008年 1月</dt>
					<dd class="thing">社内にEC事業部・システム開発部を創設</dd>
					<dt class="period">2008年 1月</dt>
					<dd class="thing">千葉ロジスティクスセンターを開設</dd>
					<dt class="period">2008年 9月</dt>
					<dd class="thing">コンタクトレンズのネットショップ「レンズアップル」オープン</dd>
					<dt class="period">2009年 8月</dt>
					<dd class="thing">楽天市場に「レンズアップル楽天市場店」を出店</dd>
					<dt class="period">2013年 4月</dt>
					<dd class="thing">優木まおみさんとのイメージキャラクター契約開始</dd>
					<dt class="period">2013年 9月</dt>
					<dd class="thing">岡山ロジスティクスセンターを開設</dd>
					<dt class="period">2013年 10月</dt>
					<dd class="thing">Yahoo!ショッピングに「レンズアップル」を出店</dd>
					<dt class="period">2013年 12月</dt>
					<dd class="thing">自社製品「WAVEワンデー」を販売開始</dd>
					<dt class="period">2013年 12月</dt>
					<dd class="thing">2013年楽天ショップオブザイヤー受賞（レンズアップ）</dd>
					<dt class="period">2014年 11月</dt>
					<dd class="thing">2014年楽天ショップ・オブ・ザ・スーパーSALE受賞（レンズゲット）</dd>
					<dt class="period">2015年 1月</dt>
					<dd class="thing">2014年楽天ショップ・オブ・ジ・エリア受賞（レンズゲット）</dd>
					<dt class="period">2015年 4月</dt>
					<dd class="thing">カラーコンタクトレンズ専用ネットショップ「ベリンダ」をオープン</dd>
					<dt class="period">2015年 9月</dt>
					<dd class="thing">自社製品「WAVE 2ウィーク UV」を販売開始</dd>
					<dt class="period">2015年 12月</dt>
					<dd class="thing">自社製品「WAVEワンデー RING(UVカット付き)」を販売開始</dd>
					<dt class="period">2015年 12月</dt>
					<dd class="thing">鈴木ちなみさんとの「WAVEワンデー RING(UVカット付き)」イメージキャラクター契約開始</dd>
					<dt class="period">2016年 4月</dt>
					<dd class="thing">ギフトカードを個人間で売買できるWEBサービス「ギフル」の開設</dd>
					<dt class="period">2016年 10月</dt>
					<dd class="thing">YAHOO!ショッピング Area Awards 2016 都道府県賞 千葉県 大賞<br>関東・甲信越エリア ビューティー・ヘルスケアカテゴリ賞 第1位<br>千葉県 ビューティー・ヘルスケアカテゴリ賞 第1位受賞（レンズアップル）</dd>
					<dt class="period">2016年 10月</dt>
					<dd class="thing">自社製品「WAVEワンデー UV エアスリム」「WAVEワンデー UV ウォータースリム」を販売開始</dd>
					<dt class="period">2017年 7月</dt>
					<dd class="thing">入山法子さんとの「WAVEワンデー UVシリーズ」イメージキャラクター契約開始</dd>
				</dl>
			</div>
		</section>
		<div class="our-service m-fix">
			<div class="container">
				<div class="seo-title-one text-center">
					<h2 class="section_title small">
						<span class="en">Successed Products</span>
						<span class="ja" style="font-weight:100;">成功商品例</span>
					</h2>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
						<div class="single-service tran4s">
							<img src="~/images/icon/2.png" alt="icon">
							<h5><a href="~/Home/Service" class="tran4s">Search Optimization</a></h5>
							<p>I have always wanted to neighbor just like. I've alway wanted to live neighborhood with you. </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
						<div class="single-service tran4s">
							<img src="~/images/icon/3.png" alt="icon">
							<h5><a href="~/Home/Service" class="tran4s">High-End Anaylizing</a></h5>
							<p>I have always wanted to neighbor just like. I've alway wanted to live neighborhood with you. </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
						<div class="single-service tran4s">
							<img src="~/images/icon/4.png" alt="icon">
							<h5><a href="~/Home/Service" class="tran4s">Great Security</a></h5>
							<p>I have always wanted to neighbor just like. I've alway wanted to live neighborhood with you. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="default-footer seo-footer">
			<div class="container">
				<div class="top-footer row">
					<div class="col-md-3 col-sm-5 footer-logo">
						<a href="~/Home/Index"><img src="~/images/logo/logo3.png" alt="Logo"></a>
						<p>Lorem ipsum dolor  amet natum latine copiosa at quo, suas labore saperet  has there any quote for write lorem percit latineu suas dummy.</p>
					</div>
					<div class="col-md-2 col-sm-3 footer-list">
						<h6>Information</h6>
						<ul>
							<li><a href="~/Home/About" class="tran3s">会社情報</a></li>
							<li><a href="~/Home/Service" class="tran3s">事業内容</a></li>
							<li><a href="~/Home/Contact" class="tran3s">お問い合わせ</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 footer-latest-news">
						<h6>Latest News</h6>
						<div class="single-news">
							<h5><a href="#" class="tran3s">How can be successfull in market place..</a></h5>
							<span>13 Feb, 2017  /  Business</span>
						</div>
						<div class="single-news">
							<h5><a href="#" class="tran3s">How can be successfull in market place..</a></h5>
							<span>13 Feb, 2017  /  Business</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 footer-subscribe">
						<h6>Subscribe Us</h6>
						<p>This sounded a very good reason, and Alice was quite pleased to know it.</p>
						<form action="#">
							<input type="text" placeholder="Enter your e-mail">
							<button class="tran3s se-s-bg-color"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>
			<div class="bottom-footer">
				<div class="container">
					<div class="wrapper clearfix">
						<p class="float-left">Copyright &copy; 2017.Company name All rights reserved.</p>
						<ul class="float-right">
							<li><a href="" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<button class="scroll-top tran3s hvr-shutter-out-horizontal">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>
		<script src="~/Scripts/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="~/vendor/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="~/vendor/fancy-box/jquery.fancybox.pack.js"></script>
		<script type="text/javascript" src="~/vendor/menu/src/js/jquery.slimmenu.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="~/vendor/WOW-master/dist/wow.min.js"></script>
		<script type="text/javascript" src="~/vendor/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.appear.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.countTo.js"></script>
		<script type="text/javascript" src="~/Scripts/theme.js"></script>
	</div>
</body>
</html>
