@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<link rel="stylesheet" type="text/css" href="~/Content/responsive.css">
	<link rel="stylesheet" type="text/css" href="~/Content/example.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="~/Content/animate.css">
	<link rel="stylesheet" href="~/Content/magnific-popup.css">
	<link rel="stylesheet" href="~/Content/salvattore.css">
</head>
<body class="seo-theme">
	<div class="main-page-wrapper">
		<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
		<header class="seo-header">
			<div class="top-header">
				<div class="container">
					<div class="float-right right-side">
						<ul>
							<li><a href="#" class="tran3s"><i class="flaticon-envelope"></i> companymail@gamil.com</a></li>
							<li><a href="#" class="tran3s"><i class="flaticon-phone"></i> 0 (855) 233-5385</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="theme-main-menu">
				<div class="container">
					<div class="main-container clearfix">
						@*公司logo表示位置*@
						<div class="logo float-left"><a href="~/Home/Index"><img src="" alt="Logo"></a></div>
						<div class="right-content float-right">
							<button class="search round-border tran3s" id="search-button"><i class="flaticon-search"></i></button>
							<a href="#" class="button-four">Free SEO ANALYZE</a>
							<div class="search-box tran5s" id="searchWrapper">
								<button id="close-button" class="se-p-color"><i class="flaticon-cancel"></i></button>
								<div class="container">
									<img src="~/images/logo/logo4.png" alt="Logo">
									<form action="#">
										<input type="text" placeholder="Search....">
										<button class="se-p-bg-color"><i class="flaticon-search"></i></button>
									</form>
								</div>
							</div>
						</div>
						<div class="menu-wrapper float-right">
							<nav id="mega-menu-holder" class="clearfix">
								<ul class="clearfix">
									<li><a href="~/Home/Index">ホーム</a></li>
									<li><a href="~/Home/Service">事業内容</a></li>
									@*<li><a href="~/Home/Serviced">Service Details</a></li>*@
									<li><a href="~/Home/About">会社情報</a></li>
									<li><a href="~/Home/Contact">お問い合わせ</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="banner">
			<div class="rev_slider_wrapper">
				<div id="seo-main-banner" class="rev_slider" data-version="5.0.7">
					<ul>
						<li data-index="rs-280" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="01" data-description="">
							<img src="~/images/home/slide-7.jpg" alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
								 data-width="full"
								 data-height="none"
								 data-whitespace="normal"
								 data-transform_idle="o:1;"
								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];"
								 data-mask_out="x:inherit;y:inherit;"
								 data-start="300"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on"
								 style="z-index: 6;">
								<h1>最高品質の<br><span class="se-s-color">製品</span> を提供する。</h1>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','10','10','0']"
								 data-width="full"
								 data-height="none"
								 data-whitespace="normal"
								 data-transform_idle="o:1;"
								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];"
								 data-mask_out="x:inherit;y:inherit;"
								 data-start="1300"
								 data-splitin="none"
								 data-splitout="none"
								 style="z-index: 6;">
								<p>ここでは、<br>あなたが望むすべての高品質な製品を見つけることができる。</p>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','130']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="1800"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<a href="~/Home/Service" class="service-button button-two">事業内容</a>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['170','170','185','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','220']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="1800"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<a href="~/Home/About" class="about-button button-two">会社情報</a>
							</div>
							<div class="tp-caption rs-parallaxlevel-3"
								 data-x="['right','right','right','right']" data-hoffset="['0','0','-60','0']"
								 data-y="['middle','middle','bottom','middle']" data-voffset="['0','0','0','0']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="2000"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<img src="~/images/home/object.jpg" alt="image">
							</div>
						</li>
						<li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="~/images/home/slide-7.jpg" data-rotate="0" data-saveperformance="off" data-title="02" data-description="">
							<img src="~/images/home/slide-7.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
								 data-width="full"
								 data-height="none"
								 data-whitespace="normal"
								 data-transform_idle="o:1;"
								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];"
								 data-mask_out="x:inherit;y:inherit;"
								 data-start="300"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on"
								 style="z-index: 6;">
								<h1>毎日の生活を彩る、<br><span class="se-s-color">商品</span>をご紹介。</h1>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','10','10','0']"
								 data-width="full"
								 data-height="none"
								 data-whitespace="normal"
								 data-transform_idle="o:1;"
								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];"
								 data-mask_out="x:inherit;y:inherit;"
								 data-start="1300"
								 data-splitin="none"
								 data-splitout="none"
								 style="z-index: 6;">
								<p>ずっと過ごしたくなる<br>空間を届けます。</p>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','130']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="1800"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<a href="~/Home/Service" class="service-button button-two">事業内容</a>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['170','170','185','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','220']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="1800"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<a href="~/Home/About" class="about-button button-two">会社情報</a>
							</div>
							<div class="tp-caption rs-parallaxlevel-3"
								 data-x="['right','right','right','right']" data-hoffset="['0','0','-60','0']"
								 data-y="['middle','middle','bottom','middle']" data-voffset="['0','0','0','0']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="2000"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<img src="~/images/home/object.jpg" alt="image">
							</div>
						</li>
						<li data-index="rs-20" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="~/images/home/slide-7.jpg" data-rotate="0" data-saveperformance="off" data-title="03" data-description="">
							<img src="~/images/home/slide-7.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-120','-120','-120','-120']"
								 data-width="full"
								 data-height="none"
								 data-whitespace="normal"
								 data-transform_idle="o:1;"
								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];"
								 data-mask_out="x:inherit;y:inherit;"
								 data-start="300"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on"
								 style="z-index: 6;">
								<h1>みんなの<br><span class="se-s-color">明日</span> をよくする。</h1>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['10','10','10','0']"
								 data-width="full"
								 data-height="none"
								 data-whitespace="normal"
								 data-transform_idle="o:1;"
								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
								 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
								 data-mask_in="x:0px;y:[100%];"
								 data-mask_out="x:inherit;y:inherit;"
								 data-start="1300"
								 data-splitin="none"
								 data-splitout="none"
								 style="z-index: 6;">
								<p>ここでは、<br>あなたが望むすべての高品質な製品を見つけることができる。</p>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['0','0','15','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','130']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="1800"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<a href="~/Home/Service" class="service-button button-two">事業内容</a>
							</div>
							<div class="tp-caption"
								 data-x="['left','left','left','left']" data-hoffset="['170','170','185','5']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['115','115','115','220']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="1800"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<a href="~/Home/About" class="about-button button-two">会社情報</a>
							</div>
							<div class="tp-caption rs-parallaxlevel-3"
								 data-x="['right','right','right','right']" data-hoffset="['0','0','-60','0']"
								 data-y="['middle','middle','bottom','middle']" data-voffset="['0','0','0','0']"
								 data-transform_idle="o:1;"
								 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
								 data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
								 data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
								 data-start="2000"
								 data-splitin="none"
								 data-splitout="none"
								 data-responsive_offset="on">
								<img src="~/images/home/object.jpg" alt="image">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="welcome-seo">
			<div class="container">
				<div class="wrapper">
					<div class="row">
						<div class="col-lg-6 col-md-7 col-xs-12 text wow fadeInRight float-right">
							<h2>Welcome to ollo <br>SEO &amp;  Digital Marketing Co </h2>
							<span>Here will some subtite with lorem ipsum dosis alter seeker</span>
							<p>I have always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you. Makin their way the only way they know how. That's just a little bit more than the law will allow. </p>

							<ul class="clearfix">
								<li>
									<i class="icon flaticon-money"></i>
									<h6>Affordable Service</h6>
									<p>Allervices in affordable price</p>
								</li>
								<li>
									<i class="icon flaticon-home"></i>
									<h6>Best Company</h6>
									<p>We are the best company in Bd</p>
								</li>
								<li>
									<i class="icon flaticon-star"></i>
									<h6>Expert Advisor</h6>
									<p>We have top rated expert</p>
								</li>
								<li>
									<i class="icon flaticon-bookmark"></i>
									<h6>Trusted Certified</h6>
									<p>Certified by digital marketing </p>
								</li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-5 col-xs-12"><img src="~/images/home/object2.png" alt="Image"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="our-service">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-service tran4s">
							<img src="~/images/icon/5.png" alt="icon">
							<h2>01</h2>
							<h5><a href="~/Home/Service" class="tran4s">Google Analyzing</a></h5>
							<p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.1s">
						<div class="single-service tran4s">
							<img src="~/images/icon/6.png" alt="icon">
							<h2>02</h2>
							<h5><a href="~/Home/Service" class="tran4s">Content Research</a></h5>
							<p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.2s">
						<div class="single-service tran4s">
							<img src="~/images/icon/7.png" alt="icon">
							<h2>03</h2>
							<h5><a href="~/Home/Service" class="tran4s">Keyword Suggestion</a></h5>
							<p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.1s">
						<div class="single-service tran4s">
							<img src="~/images/icon/8.png" alt="icon">
							<h2>04</h2>
							<h5><a href="~/Home/Service" class="tran4s">link Optimization</a></h5>
							<p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.2s">
						<div class="single-service tran4s">
							<img src="~/images/icon/9.png" alt="icon">
							<h2>05</h2>
							<h5><a href="~/Home/Service" class="tran4s">SEO Optimization</a></h5>
							<p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12" data-wow-delay="0.3s">
						<div class="single-service tran4s">
							<img src="~/images/icon/10.png" alt="icon">
							<h2>06</h2>
							<h5><a href="~/Home/Service" class="tran4s">Social Media Marketing</a></h5>
							<p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="our-project">
			<div class="container">
				<div class="seo-title-one text-center">
					<h2>ピックアップ商品</h2>
					<h6>@DateTime.Now.ToString("yyyy-MM-dd") 更新</h6>
				</div>
				<ul class="mixitUp-menu text-center">
					<li class="filter active tran3s" data-filter="all">SEO Optimization</li>
					<li class="filter tran3s" data-filter=".buil">link building</li>
					<li class="filter tran3s" data-filter=".keyword">Keywrod research</li>
					<li class="filter tran3s" data-filter=".makre">Marketing</li>
					<li class="filter tran3s" data-filter=".google">Google Analyize</li>
				</ul>
			</div>
			<div class="row" id="mixitUp-item">
				<div class="mix keyword google">
					<div class="single-project color1">
						<img src="~/images/project/33.jpg" alt="Image" class="tran4s">
						<div class="hover tran4s">
							<div class="div">
								<p>SEO Optimization</p>
								<h5>Business &amp; Finance</h5>
								<a href="#" class="tran3s round-border">+</a>
							</div>
						</div>
					</div>
				</div>
				<div class="mix buil makre">
					<div class="single-project color2">
						<img src="~/images/project/34.jpg" alt="Image" class="tran4s">
						<div class="hover tran4s">
							<div class="div">
								<p>SEO Optimization</p>
								<h5>Business &amp; Finance</h5>
								<a href="#" class="tran3s round-border">+</a>
							</div>
						</div>
					</div>
				</div>
				<div class="mix keyword makre google">
					<div class="single-project color3">
						<img src="~/images/project/35.jpg" alt="Image" class="tran4s">
						<div class="hover tran4s">
							<div class="div">
								<p>SEO Optimization</p>
								<h5>Business &amp; Finance</h5>
								<a href="#" class="tran3s round-border">+</a>
							</div>
						</div>
					</div>
				</div>
				<div class="mix buil keyword google">
					<div class="single-project color4">
						<img src="~/images/project/36.jpg" alt="Image" class="tran4s">
						<div class="hover tran4s">
							<div class="div">
								<p>SEO Optimization</p>
								<h5>Business &amp; Finance</h5>
								<a href="#" class="tran3s round-border">+</a>
							</div>
						</div>
					</div>
				</div>
				<div class="mix buil makre">
					<div class="single-project color5">
						<img src="~/images/project/37.jpg" alt="Image" class="tran4s">
						<div class="hover tran4s">
							<div class="div">
								<p>SEO Optimization</p>
								<h5>Business &amp; Finance</h5>
								<a href="#" class="tran3s round-border">+</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-main">
			<div class="container">
				<div class="seo-title-one text-center">
					<h3>商品一覧</h3>
					<h6>@DateTime.Now.ToString("yyyy-MM-dd") 更新</h6>
				</div>
				<div class="row">
					<div id="fh5co-board" data-columns>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_1.jpg" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img src="~/images/img_1.jpg" alt="Free HTML5 Bootstrap template"></a>
							</div>
							<div class="fh5co-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_2.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_2.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Veniam voluptatum voluptas tempora debitis harum totam vitae hic quos.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_3.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_3.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Optio commodi quod vitae, vel, officiis similique quaerat odit dicta.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_4.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_4.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Dolore itaque deserunt sit, at exercitationem delectus, consequuntur quaerat sapiente.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_5.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_5.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Tempora distinctio inventore, nisi excepturi pariatur tempore sit quasi animi.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_6.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_6.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Sequi, eaque suscipit accusamus. Necessitatibus libero, unde a nesciunt repellendus!</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_7.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_7.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Necessitatibus distinctio eos ipsam cum hic temporibus assumenda deleniti, soluta.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_8.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_8.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Debitis voluptatum est error nulla voluptate eum maiores animi quasi?</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_9.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_9.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Maxime qui eius quisquam quidem quos unde consectetur accusamus adipisci!</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_21.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_21.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Deleniti aliquid, accusantium, consectetur harum eligendi vitae quaerat reiciendis sit?</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_10.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_10.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Incidunt, eaque et. Et odio excepturi, eveniet facilis explicabo assumenda.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_11.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_11.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Laborum dolores nihil voluptates quas alias distinctio fugiat tempora sit.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_12.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_12.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Sit, quis nulla amet numquam fugit, in reiciendis laboriosam dolor.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_13.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_13.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Possimus explicabo voluptatem natus nisi similique ipsa repudiandae? Quibusdam, fuga.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_14.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_14.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Magni repellendus iusto mollitia, quibusdam facilis incidunt. Sunt, repellat, voluptatem.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_15.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_15.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Unde iure rerum cupiditate explicabo quam aut vel earum numquam.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_16.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_16.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Qui nisi error dolorum dolor delectus, alias doloremque perspiciatis nemo.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_18.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_18.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Neque porro vero cumque natus nam voluptatibus, ratione, commodi labore.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_17.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_17.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Quisquam quia totam, sit ea maxime sint sed excepturi quod.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_19.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_19.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Nesciunt non iste ex nemo sapiente eum, provident nam corporis.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_20.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_20.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Harum repellat labore est cum ipsa, nesciunt neque mollitia adipisci?</div>
							</div>
						</div>

						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_22.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_22.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Quos repellendus repudiandae debitis reprehenderit cupiditate cumque accusamus exercitationem, harum.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_23.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_23.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Sunt numquam itaque delectus, dignissimos dolorem obcaecati vel, atque eos.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_24.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_24.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Adipisci consequuntur ipsa fugit perspiciatis eligendi. Omnis blanditiis, totam placeat.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_25.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_25.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Quos repellendus repudiandae debitis reprehenderit cupiditate cumque accusamus exercitationem, harum.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_26.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_26.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Sunt numquam itaque delectus, dignissimos dolorem obcaecati vel, atque eos.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_27.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_27.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Adipisci consequuntur ipsa fugit perspiciatis eligendi. Omnis blanditiis, totam placeat.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_28.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_28.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Adipisci consequuntur ipsa fugit perspiciatis eligendi. Omnis blanditiis, totam placeat.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_29.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_29.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Adipisci consequuntur ipsa fugit perspiciatis eligendi. Omnis blanditiis, totam placeat.</div>
							</div>
						</div>
						<div class="item">
							<div class="animate-box">
								<a href="~/images/img_30.jpg" class="image-popup fh5co-board-img"><img src="~/images/img_30.jpg" alt="Free HTML5 Bootstrap template"></a>
								<div class="fh5co-desc">Adipisci consequuntur ipsa fugit perspiciatis eligendi. Omnis blanditiis, totam placeat.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="client-slider">
			<div class="container">
				<h2 class="text-center">お客様の一言</h2>
				<div class="sldier-wrapper">
					<div class="seo-client-slider">
						<div class="item">
							<div class="clearfix">
								<img src="~/images/home/9.jpg" alt="Image" class="float-left round-border">
								<div class="text float-left">
									<h5>James Dula</h5>
									<span>Founder of  CharityPro</span>
									<p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
								</div>
							</div> <!-- /.clearfix -->
						</div> <!-- /.item -->
						<div class="item">
							<div class="clearfix">
								<img src="~/images/home/9.jpg" alt="Image" class="float-left round-border">
								<div class="text float-left">
									<h5>Rashed ka.</h5>
									<span>Founder of  CharityPro</span>
									<p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
								</div>
							</div> <!-- /.clearfix -->
						</div> <!-- /.item -->
						<div class="item">
							<div class="clearfix">
								<img src="~/images/home/9.jpg" alt="Image" class="float-left round-border">
								<div class="text float-left">
									<h5>James Dula</h5>
									<span>Founder of  CharityPro</span>
									<p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
								</div>
							</div> <!-- /.clearfix -->
						</div> <!-- /.item -->
						<div class="item">
							<div class="clearfix">
								<img src="~/images/home/9.jpg" alt="Image" class="float-left round-border">
								<div class="text float-left">
									<h5>James Dula</h5>
									<span>Founder of  CharityPro</span>
									<p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
								</div>
							</div> <!-- /.clearfix -->
						</div> <!-- /.item -->
						<div class="item">
							<div class="clearfix">
								<img src="~/images/home/9.jpg" alt="Image" class="float-left round-border">
								<div class="text float-left">
									<h5>Rashed ka.</h5>
									<span>Founder of  CharityPro</span>
									<p>Looking cautiously round, ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
								</div>
							</div> <!-- /.clearfix -->
						</div> <!-- /.item -->
					</div> <!-- /.seo-client-slider -->
				</div> <!-- /.sldier-wrapper -->
			</div> <!-- /.container -->
		</div>
		<footer class="default-footer seo-footer">
			<div class="container">
				<div class="top-footer row">
					<div class="col-md-3 col-sm-5 footer-logo">
						<a href="~/Home/Index"><img src="~/images/logo/logo3.png" alt="Logo"></a>
						<p>Lorem ipsum dolor  amet natum latine copiosa at quo, suas labore saperet  has there any quote for write lorem percit latineu suas dummy.</p>
					</div>
					<div class="col-md-2 col-sm-3 footer-list">
						<h6>会社情報</h6>
						<ul>
							<li><a href="" class="tran3s">ごあいさつ</a></li>
							<li><a href="" class="tran3s">会社概要</a></li>
							<li><a href="" class="tran3s">企業理念</a></li>
							<li><a href="" class="tran3s">沿革</a></li>
							<li><a href="" class="tran3s">取り組み</a></li>
							<li><a href="" class="tran3s">採用情報</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 footer-latest-news">
						<h6>Latest News</h6>
						<div class="single-news">
							<h5><a href="#" class="tran3s">How can be successfull in market place..</a></h5>
							<span>13 Feb, 2017  /  Business</span>
						</div>
						<div class="single-news">
							<h5><a href="#" class="tran3s">How can be successfull in market place..</a></h5>
							<span>13 Feb, 2017  /  Business</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 footer-subscribe">
						<h6>Subscribe Us</h6>
						<p>This sounded a very good reason, and Alice was quite pleased to know it.</p>
						<form action="#">
							<input type="text" placeholder="Enter your e-mail">
							<button class="tran3s se-s-bg-color"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>
			<div class="bottom-footer">
				<div class="container">
					<div class="wrapper clearfix">
						<p class="float-left">Copyright &copy; 2017.Company name All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
		<button class="scroll-top tran3s">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>
		<script src="~/Scripts/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="~/vendor/bootstrap/bootstrap.min.js"></script>
		<script src="~/vendor/revolution/jquery.themepunch.tools.min.js"></script>
		<script src="~/vendor/revolution/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="~/vendor/revolution/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="~/vendor/revolution/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="~/vendor/revolution/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="~/vendor/revolution/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="~/vendor/revolution/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="~/vendor/revolution/revolution.extension.parallax.min.js"></script>
		<script type="text/javascript" src="~/vendor/revolution/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="~/vendor/menu/src/js/jquery.slimmenu.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="~/vendor/fancy-box/jquery.fancybox.pack.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.mixitup.min.js"></script>
		<script type="text/javascript" src="~/vendor/WOW-master/dist/wow.min.js"></script>
		<script type="text/javascript" src="~/vendor/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.appear.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.countTo.js"></script>
		<script type="text/javascript" src="~/Scripts/theme.js"></script>
		<script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
		<script type="text/javascript" src="~/Scripts/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="~/Scripts/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="~/Scripts/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="~/Scripts/salvattore.min.js"></script>
		<script type="text/javascript" src="~/Scripts/main.js"></script>
	</div>
</body>
</html>
