@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<link rel="stylesheet" type="text/css" href="~/Content/responsive.css">
	<link rel="stylesheet" type="text/css" href="~/Content/example.css">
</head>

<body class="seo-theme">
	<div class="main-page-wrapper">
		<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
		<header class="seo-header">
			<div class="top-header">
				<div class="container">
					<div class="float-right right-side">
						<ul>
							<li><a href="#" class="tran3s"><i class="flaticon-envelope"></i> companymail@gamil.com</a></li>
							<li><a href="#" class="tran3s"><i class="flaticon-phone"></i> 0 (855) 233-5385</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="theme-main-menu">
				<div class="container">
					<div class="main-container clearfix">
						<div class="logo float-left"><a href="~/Home/Index"><img src="" alt="Logo"></a></div>
						<div class="menu-wrapper float-right">
							<nav id="mega-menu-holder" class="clearfix">
								<ul class="clearfix">
									<li><a href="~/Home/Index">ホーム</a></li>
									<li><a href="~/Home/About">会社情報</a></li>
									<li><a href="~/Home/Service">商品情報</a></li>
									<li><a href="~/Home/Contact">その他</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="theme-inner-banner">
			<div class="opacity">
				<div class="container">
					<h2 class="float-left">商品情報</h2>
					<ul class="float-right">
						<li><a href="~/Home/Index" class="tran3s">主页</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
						<li>商品情報</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="welcome-seo">
			<div class="container">
				<div>
					<div class="row">
						<div class="col-lg-6 col-md-7 col-xs-12 text wow fadeInRight float-right">
							<h2>Welcome to ollo <br>SEO &amp;  Digital Marketing Co </h2>
							<span>Here will some subtite with lorem ipsum dosis alter seeker</span>
							<p>I have always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you. Makin their way the only way they know how. That's just a little bit more than the law will allow. </p>

							<ul class="clearfix">
								<li>
									<i class="icon flaticon-money"></i>
									<h6>Affordable Service</h6>
									<p>Allervices in affordable price</p>
								</li>
								<li>
									<i class="icon flaticon-home"></i>
									<h6>Best Company</h6>
									<p>We are the best company in Bd</p>
								</li>
								<li>
									<i class="icon flaticon-star"></i>
									<h6>Expert Advisor</h6>
									<p>We have top rated expert</p>
								</li>
								<li>
									<i class="icon flaticon-bookmark"></i>
									<h6>Trusted Certified</h6>
									<p>Certified by digital marketing </p>
								</li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-5 col-xs-12"><img src="~/images/home/object2.png" alt="Image"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="part3" class="part">
			<div class="container">
				<div id="item1" class="sHoverItem">
					<img id="img1" src="~/ProductImages/1.jpg">
					<span id="intro1" class="sIntro">
						<a>Flowers</a>
						<a>Flowers are so inconsistent! But I was too young to know how to love her</a>
						@*<button>inconsistent</button>*@
					</span>
				</div>
				<div id="item2" class="sHoverItem">
					<img src="~/ProductImages/2.jpg">
					<span class="sIntro">
						<a>You know</a>
						<a>one loves the sunset, when one is so sad</a>
						@*<button>sunset</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/3.jpg">
					<span class="sIntro">
						<a>For</a>
						<a>For she did not want him to see her crying. She was such a proud flower</a>
						@*<button>crying</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/4.jpg">
					<span class="sIntro">
						<a>Volcanoes</a>
						<a>It is of some use to my volcanoes, and it is of some use to my flower, that I own them. But you are of no </a>
						@*<button>use to the stars</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/5.jpg">
					<span class="sIntro">
						<a>I thought</a>
						<a>I thought that I was rich, with a flower that was unique in all the world; and all I had was a common</a>
						@*<button>rose</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/6.jpg">
					<span class="sIntro">
						<a>For she</a>
						<a>For she did not want him to see her crying. She was such a proud flower</a>
						@*<button>a proud flower</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/7.jpg">
					<span class="sIntro">
						<a>Thorns</a>
						<a>She has only four thorns to defend herself against the world. And I have left on my planet, all alone!</a>
						@*<button>alone</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/8.jpg">
					<span class="sIntro">
						<a>A little boy</a>
						<a>To me, you are still nothing more than a little boy who is just like a hundred thousand other little boys.</a>
						@*<button>boys</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/9.jpg">
					<span class="sIntro">
						<a>And I</a>
						<a>And I have no need of you. And you, on your part, have no need of me.</a>
						@*<button>no need of me</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/10.jpg">
					<span class="sIntro">
						<a>Foxes</a>
						<a>I am nothing more than a fox like a hundred thousand other foxes.</a>
						@*<button>nothing</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/11.jpg">
					<span class="sIntro">
						<a>Tame</a>
						<a>But if you tame me, then we shall need each other.</a>
						@*<button>need</button>*@
					</span>
				</div>
				<div class="sHoverItem">
					<img src="~/ProductImages/12.jpg">
					<span class="sIntro">
						<a>Unique</a>
						<a>To me,you will be unique in all the world. To you, I shall be unique in all the world. </a>
						@*<button>unique</button>*@
					</span>
				</div>
			</div>
		</div>
		@*<div class="partners-section">
			<div class="container">
				<div class="row">
					<div id="partner-logo">
						<div class="item"><img src="~/images/logo/p9.png" alt="logo"></div>
						<div class="item"><img src="~/images/logo/p10.png" alt="logo"></div>
						<div class="item"><img src="~/images/logo/p11.png" alt="logo"></div>
						<div class="item"><img src="~/images/logo/p12.png" alt="logo"></div>
						<div class="item"><img src="~/images/logo/p10.png" alt="logo"></div>
					</div>
				</div>
			</div>
		</div>*@
		@*<div class="bottom-footer-banner se-s-bg-color">
			<div class="container">
				<a href="~/Home/Contact" class="float-right button-five">お問い合わせ</a>
			</div>
		</div>*@
		<footer class="default-footer seo-footer">
			<div class="container">
				<div class="top-footer row">
					<div class="col-md-3 col-sm-5 footer-logo">
						<a href="~/Home/Index"><img src="~/images/logo/logo3.png" alt="Logo"></a>
						<p>Lorem ipsum dolor  amet natum latine copiosa at quo, suas labore saperet  has there any quote for write lorem percit latineu suas dummy.</p>
					</div>
					<div class="col-md-2 col-sm-3 footer-list">
						<h6>SITEMAP</h6>
						<ul>
							<li><a href="~/Home/Index">ホーム</a></li>
							<li><a href="~/Home/About">会社情報</a></li>
							<li><a href="~/Home/Service">商品情報</a></li>
							<li><a href="~/Home/Contact">その他</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 footer-latest-news">
						<h6>Latest News</h6>
						<div class="single-news">
							<h5><a href="#" class="tran3s">How can be successfull in market place..</a></h5>
							<span>13 Feb, 2017  /  Business</span>
						</div>
						<div class="single-news">
							<h5><a href="#" class="tran3s">How can be successfull in market place..</a></h5>
							<span>13 Feb, 2017  /  Business</span>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 footer-subscribe">
						<h6>Subscribe Us</h6>
						<p>This sounded a very good reason, and Alice was quite pleased to know it.</p>
						<form action="#">
							<input type="text" placeholder="Enter your e-mail">
							<button class="tran3s se-s-bg-color"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>
			<div class="bottom-footer">
				<div class="container">
					<div class="wrapper clearfix">
						<p class="float-left">Copyright &copy; 2017.Company name All rights reserved.</p>
						<ul class="float-right">
							<li><a href="" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="" class="tran3s round-border"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<button class="scroll-top tran3s hvr-shutter-out-horizontal">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>
		<script src="~/Scripts/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="~/vendor/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="~/vendor/menu/src/js/jquery.slimmenu.js"></script>
		<script type="text/javascript" src="~/vendor/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="~/vendor/WOW-master/dist/wow.min.js"></script>
		<script type="text/javascript" src="~/vendor/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="~/Scripts/theme.js"></script>
		<script type="text/javascript" src="~/Scripts/sHover.js"></script>
		<script>
			var a = new sHover("sHoverItem", "sIntro");
			a.set({
				slideSpeed: 5,
				opacityChange: true,
				opacity: 80
			});
		</script>
	</div>
</body>
</html>
