@{Layout = null; }
<head>
	<title>Single</title>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
	<link rel='stylesheet' type='text/css' href="~/Content/animate.css" />
	<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
	@*<link rel="stylesheet" type="text/css" media="all" href="~/Content/flexslider.css" />*@
	<link rel="stylesheet" type="text/css" media="all" href="~/Content/main.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Studeon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
	<div class="header box css3-shadow" id="head">
		<div class="container">
			<div class="header-top">
				<div class="logo wow bounceInLeft" data-wow-delay="0.4s">
					<a href="index.html"><img src="~/images/logo.png" alt="" /></a>
				</div>
				<div class="h_menu4">
					<a class="toggleMenu" href="#">Menu</a>
					<ul class="nav">
						<li class="active"><a class="scroll" href="~/Home/Index">Home<br>主页</a></li>
						<li><a href="~/Home/About">About<br>公司信息</a></li>
						<li><a href="~/Home/Portf">Portfolio<br>商品信息</a>
						<li><a href="~/Home/Feature">Features<br>主要业务</a></li>
						<li><a href="~/Home/Contact">Contact<br>联系</a></li>
					</ul>
				</div>
				<div class="social_icons wow bounceInRight" data-wow-delay="0.4s">
					<ul>
						<li><a href="#"><i class="facebook"></i></a></li>
						<li><a href="#"><i class="twitter"></i></a></li>
						<li><a href="#"><i class="rss"></i></a></li>
						<li><a href="#"><i class="viemo"></i></a></li>
						<li><a href="#"><i class="youtube"></i></a></li>
						<li><a href="#"><i class="linkedin"></i></a></li>
					</ul>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="visual_mask">
		<img src="~/images/keyvisual-3.jpg" alt="" width="1366" height="600" class="visual_bg" data-prlx="3" style="transform: translateY(-8.69px);">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 122" class="btm-skew"><path fill="#fff" d="M0 122v-1.9l1366-120.1v122h-1366z"></path></svg>
	</div>
	<section id="company-intro-section" class="company-section" style="padding-top:215px;">
		<div class="section_inner">
			<h2 class="section_title small">
				<span class="en">About xxxx</span>
				<span class="ja">xxxxについて</span>
			</h2>
			<p class="txt">
				1977 年に創業。2002 年にコンタクトレンズ販売を開始、2008年よりコンタクトレンズ EC事業に参入し、時代の流れとお客様のニーズを見極め成長を続けてきました。<br>
				自社コンタクトブランド「WAVE」の開発・ロジスティクスセンターの設置・お客様の声を頂くための実店舗運営・サポートセンターの設置等、お客様へ「ここちよさ」を提供するための仕組みを導入し、2016年8月時点で約440万人のオンライン会員様を保有するまでに成長いたしました。<br>
				これまでに蓄えたノウハウを活かし、IT企業として、コンタクトレンズ事業の枠に捕らわれることなく、チャレンジを続けていきます。
			</p>
		</div>
	</section>
	<section id="company-info-section" class="company-section">
		<div class="section_inner">
			<h2 class="section_title small">
				<span class="en">Company</span>
				<span class="ja">会社概要</span>
			</h2>
			<div class="company-info-table-wrap">
				<table class="company-info-table">
					<tbody>
						<tr>
							<th>会社名</th>
							<td>株式会社 xxxx</td>
						</tr>
						<tr>
							<th>所在地</th>
							<td>〒xxx-xxx xxxxxxxxxxxx 4F</td>
						</tr>
						<tr>
							<th>代表者名</th>
							<td>代表取締役 xx xx</td>
						</tr>
						<tr>
							<th>資本金</th>
							<td>1,000万円</td>
						</tr>
						<tr>
							<th>設立</th>
							<td>1977年10月</td>
						</tr>
						<tr>
							<th>従業員</th>
							<td>140人（2016年10月末日現在/パート・アルバイト含む）</td>
						</tr>
						<tr>
							<th>事業内容</th>
							<td>
								1.xxxxxxx事業<br>
								2.xxxxxxx事業（店舗販売・インターネット通販）
							</td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td>xxx-xxxx-xxxx</td>
						</tr>
						<tr>
							<th>販売業許可</th>
							<td>xxxxxxxx xx 第xxx号</td>
						</tr>
						<tr>
							<th>取引先</th>
							<td>
								xxxxxxxxx株式会社<br>
								xxxx株式会社<br>
								xxxxxxx株式会社<br>
								株式会社xxxxxA<br>
								株式会社xxxxxB<br>
								株式会社xxxxxC<br>
								株式会社xxxxD<br>
								株式会社xxxxxE<br>
								（順不同）
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<section id="company-history-section" class="company-section">
		<div class="section_inner">
			<h2 class="section_title small">
				<span class="en">Corporate History</span>
				<span class="ja">沿革</span>
			</h2>
			<dl class="history-list column">
				<dt class="period">1977年 10月</dt>
				<dd class="thing">株式会社XXX設立</dd>
				<dt class="period">2002年 4月</dt>
				<dd class="thing">XXXXXXに開設</dd>
				<dt class="period">2013年 12月</dt>
				<dd class="thing">2013年XXXXX受賞</dd>
				<dt class="period">2014年 11月</dt>
				<dd class="thing">2014年XXXXXXSALE受賞</dd>
				<dt class="period">2015年 1月</dt>
				<dd class="thing">2014年XXXXXX受賞</dd>
				<dt class="period">2015年 4月</dt>
				<dd class="thing">専用ネットショップ「ベリンダ」をオープン</dd>
				<dt class="period">2015年 9月</dt>
				<dd class="thing">自社製品XXXを販売開始</dd>
				<dt class="period">2015年 12月</dt>
				<dd class="thing">自社製品YYYYを販売開始</dd>
				<dt class="period">2015年 12月</dt>
				<dd class="thing">XXXXXXXXX契約開始</dd>
				<dt class="period">2016年 4月</dt>
				<dd class="thing">XXXXXXXXの開設</dd>
				<dt class="period">2016年 10月</dt>
				<dd class="thing">XXXXXXX賞 第1位<br>千葉県X XXXXXXXXXXXXXXXXXXXXXXX賞 第1位受賞</dd>
				<dt class="period">2016年 10月</dt>
				<dd class="thing">自社製品XWSSSSSSを販売開始</dd>
				<dt class="period">2017年 7月</dt>
				<dd class="thing">SAAAAAAAAAASASASASAS契約開始</dd>
			</dl>
		</div>
	</section>
	<div class="footer-section">
		<div class="container">
			<div class="footer-grids wow bounceIn animated" data-wow-delay="0.4s">
				<div class="col-md-3 footer-grid">
					<h4>About studeon</h4>
					<div class="border2"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
					<p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
				</div>
				<div class="col-md-3 footer-grid tags">
					<h4>the tags</h4>
					<div class="border2"></div>
					<ul class="tag">
						<li><a href="#">Awesome</a></li>
						<li><a href="#">Strategy</a></li>
						<li><a href="#">Photography</a></li>
						<li><a href="#">Development</a></li>
						<li><a href="#">Css</a></li>
						<li><a href="#">photoshop</a></li>
						<li><a href="#">Html</a></li>
						<li><a href="#">Awesome</a></li>
						<li><a href="#">Strategy</a></li>
						<li><a href="#">Photoshop</a></li>
						<li><a href="#">Html</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid tweet">
					<h4>latest tweets</h4>
					<div class="border2"></div>
					<div class="icon-3-square">
						<a href="#"><i class="square-3"></i></a>
					</div>
					<div class="icon-text">
						<p>I like this awesome freebie. Check it out<a href="#"></a></p>
						<h5>About 15 mins</h5>
					</div>
					<div class="clearfix"></div>
					<div class="icon-3-square">
						<a href="#"><i class="square-3"></i></a>
					</div>
					<div class="icon-text">
						<p>I like this awesome freebie. Check it out<a href="#"></a></p>
						<h5>About 15 mins</h5>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 footer-grid flickr">
					<h4>flickr feed</h4>
					<div class="border2"></div>
					<div class="flickr-grids">
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f1.png" alt="" title="CEO" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f2.png" alt="" title="GM" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f3.png" alt="" title="CEO" /></a>
						</div>
						<div class="clearfix"> </div>

						<div class="flickr-grid">
							<a href="#"><img src="~/images/f4.png" alt="" title="GM" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f3.png" alt="" title="CEO" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f2.png" alt="" title="GM" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="logo2  wow bounceInLeft" data-wow-delay="0.4s"><a href="index.html"><img src="~/images/logo2.png" alt="/" title="logo"/></a></div>
			<p class="write  wow bounceInRight" data-wow-delay="0.4s">Copyright &copy; 2015.Company name All rights reserved.More Templates  - Collect from </p>
		</div>
		<div class="clearfix"></div>
	</div>
	<a href="#head" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/move-top.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/easing.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/wow.min.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/nav.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			new WOW().init();
			$().UItoTop({ easingType: 'easeOutQuart' });
			addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
		});
	</script>
</body>