@{ Layout = null;}
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
	<link rel='stylesheet' type='text/css' href="~/Content/animate.css" />
	<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Studeon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
	<div class="header box css3-shadow" id="head">
		<div class="container">
			<div class="header-top">
				<div class="logo wow bounceInLeft" data-wow-delay="0.4s">
					<a href="index.html"><img src="~/images/logo.png" alt="" /></a>
				</div>
				<div class="h_menu4">
					<a class="toggleMenu" href="#">Menu</a>
					<ul class="nav">
						<li class="active"><a class="scroll" href="~/Home/Index">Home<br>主页</a></li>
						<li><a href="~/Home/About">About<br>公司信息</a></li>
						<li><a href="~/Home/Portf">Portfolio<br>商品信息</a>
						<li><a href="~/Home/Feature">Features<br>主要业务</a></li>
						<li><a href="~/Home/Contact">Contact<br>联系</a></li>
					</ul>
				</div>
				<div class="social_icons wow bounceInRight" data-wow-delay="0.4s">
					<ul>
						<li><a href="#"><i class="facebook"></i></a></li>
						<li><a href="#"><i class="twitter"></i></a></li>
						<li><a href="#"><i class="rss"></i></a></li>
						<li><a href="#"><i class="viemo"></i></a></li>
						<li><a href="#"><i class="youtube"></i></a></li>
						<li><a href="#"><i class="linkedin"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="contact-section" style="padding-top:165px;">
		<div class="container">
			<div class="contact">
				<h3 class="wow bounceIn" data-wow-delay="0.4s">CONTACT US</h3>
				<p class="wow fadeInUpBig animated" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur,Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, </p>
				<form class="wow bounceIn" data-wow-delay="0.4s">
					<input type="text" placeholder="Name" required="">
					<input type="text" placeholder="E-mail" required="">
					<input type="text" placeholder="Subject" required="">
					<textarea placeholder="Message" required=""></textarea>
					<input type="submit" value="SEND MESSAGE">
				</form>
			</div>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d315198.42131784896!2d5.849972999999987!3d51.888564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7a7e5143e7afb%3A0xb21ce1ae282c4483!2sBarenbrug+Holland+B.V.!5e0!3m2!1sen!2sin!4v1427362466033" frameborder="0" style="border:0"></iframe>
			</div>
		</div>
	</div>
	<div class="footer-section">
		<div class="container">
			<div class="footer-grids wow bounceIn animated" data-wow-delay="0.4s">
				<div class="col-md-3 footer-grid">
					<h4>About studeon</h4>
					<div class="border2"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
					<p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
				</div>
				<div class="col-md-3 footer-grid tags">
					<h4>the tags</h4>
					<div class="border2"></div>
					<ul class="tag">
						<li><a href="#">Awesome</a></li>
						<li><a href="#">Strategy</a></li>
						<li><a href="#">Photography</a></li>
						<li><a href="#">Development</a></li>
						<li><a href="#">Css</a></li>
						<li><a href="#">photoshop</a></li>
						<li><a href="#">Html</a></li>
						<li><a href="#">Awesome</a></li>
						<li><a href="#">Strategy</a></li>
						<li><a href="#">Photoshop</a></li>
						<li><a href="#">Html</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid tweet">
					<h4>latest tweets</h4>
					<div class="border2"></div>
					<div class="icon-3-square">
						<a href="#"><i class="square-3"></i></a>
					</div>
					<div class="icon-text">
						<p>I like this awesome freebie. Check it out<a href="#"></a></p>
						<h5>About 15 mins</h5>
					</div>
					<div class="clearfix"></div>
					<div class="icon-3-square">
						<a href="#"><i class="square-3"></i></a>
					</div>
					<div class="icon-text">
						<p>I like this awesome freebie. Check it out<a href="#"></a></p>
						<h5>About 15 mins</h5>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 footer-grid flickr">
					<h4>flickr feed</h4>
					<div class="border2"></div>
					<div class="flickr-grids">
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f1.png" alt="" title="CEO" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f2.png" alt="" title="GM" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f3.png" alt="" title="CEO" /></a>
						</div>
						<div class="clearfix"> </div>

						<div class="flickr-grid">
							<a href="#"><img src="~/images/f4.png" alt="" title="GM" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f3.png" alt="" title="CEO" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f2.png" alt="" title="GM" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="logo2  wow bounceInLeft" data-wow-delay="0.4s"><a href="index.html"><img src="~/images/logo2.png" alt="" title="logo" /></a></div>
			<p class="write  wow bounceInRight" data-wow-delay="0.4s">Copyright &copy; 2015.Company name All rights reserved.More Templates  - Collect from </p>
		</div>
		<div class="clearfix"></div>
	</div>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/move-top.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/easing.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/nav.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/wow.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			new WOW().init();
			$().UItoTop({ easingType: 'easeOutQuart' });
			addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
			//$(".scroll").click(function(event){
			//	event.preventDefault();
			//	$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			//});
		});
	</script>
	<a href="#head" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
