@{ Layout = null;}
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
	<link rel='stylesheet' type='text/css' href="~/Content/animate.css" />
	<link rel="stylesheet" type="text/css" media="all" href="~/Content/style.css" />
	<link rel="stylesheet" href="~/Content/swipebox.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Studeon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
	<div class="header box css3-shadow" id="head">
		<div class="container">
			<div class="header-top">
				<div class="logo wow bounceInLeft" data-wow-delay="0.4s">
					<a href="index.html"><img src="~/images/logo.png" alt="" /></a>
				</div>
				<div class="h_menu4">
					<a class="toggleMenu" href="#">Menu</a>
					<ul class="nav">
						<li class="active"><a class="scroll" href="~/Home/Index">Home<br>主页</a></li>
						<li><a href="~/Home/About">About<br>公司信息</a></li>
						<li><a href="~/Home/Portf">Portfolio<br>商品信息</a>
						<li><a href="~/Home/Feature">Features<br>主要业务</a></li>
						<li><a href="~/Home/Contact">Contact<br>联系</a></li>
					</ul>
				</div>
				<div class="social_icons wow bounceInRight" data-wow-delay="0.4s">
					<ul>
						<li><a href="#"><i class="facebook"></i></a></li>
						<li><a href="#"><i class="twitter"></i></a></li>
						<li><a href="#"><i class="rss"></i></a></li>
						<li><a href="#"><i class="viemo"></i></a></li>
						<li><a href="#"><i class="youtube"></i></a></li>
						<li><a href="#"><i class="linkedin"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="gallery">
			<div class="portfolio-section" id="portfolio">
				<div class="head-section text-center">
					<h2>PORTFOLIO</h2>
				</div>
				<ul id="filters" class="clearfix" wow bounceIn" data-wow-delay="0.4s">
					<li class="active"><span class="filter" data-filter="app card icon logos web">ALL</span></li>
					<li><span class="filter" data-filter="app">CATEGORY1</span></li>
					<li><span class="filter" data-filter="card">CATEGORY2</span></li>
					<li><span class="filter" data-filter="icon">CATEGORY3</span></li>
					<li><span class="filter" data-filter="logos">CATEGORY4</span></li>
				</ul>
				<div id="portfoliolist">
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s1.jpg" class="swipebox" title="Image Title"> <img src="~/images/s1.jpg" class="img-responsive" alt=""><span class="zoom-icon"> </span> </a> </a>

						</div>
					</div>
					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s2.jpg" class="swipebox" title="Image Title"> <img src="~/images/s2.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s6.jpg" class="swipebox" title="Image Title"> <img src="~/images/s6.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>

					</div>

					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s4.jpg" class="swipebox" title="Image Title"> <img src="~/images/s4.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s5.jpg" class="swipebox" title="Image Title"> <img src="~/images/s5.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s3.jpg" class="swipebox" title="Image Title"> <img src="~/images/s3.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s1.jpg" class="swipebox" title="Image Title"> <img src="~/images/s1.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio logos mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s2.jpg" class="swipebox" title="Image Title"> <img src="~/images/s2.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio logos mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s6.jpg" class="swipebox" title="Image Title"> <img src="~/images/s6.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s4.jpg" class="swipebox" title="Image Title"> <img src="~/images/s4.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s5.jpg" class="swipebox" title="Image Title"> <img src="~/images/s5.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">
							<a href="~/images/s3.jpg" class="swipebox" title="Image Title"> <img src="~/images/s3.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="footer-section">
		<div class="container">
			<div class="footer-grids wow bounceIn animated" data-wow-delay="0.4s">
				<div class="col-md-3 footer-grid">
					<h4>About studeon</h4>
					<div class="border2"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
					<p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
				</div>
				<div class="col-md-3 footer-grid tags">
					<h4>the tags</h4>
					<div class="border2"></div>
					<ul class="tag">
						<li><a href="#">Awesome</a></li>
						<li><a href="#">Strategy</a></li>
						<li><a href="#">Photography</a></li>
						<li><a href="#">Development</a></li>
						<li><a href="#">Css</a></li>
						<li><a href="#">photoshop</a></li>
						<li><a href="#">Html</a></li>
						<li><a href="#">Awesome</a></li>
						<li><a href="#">Strategy</a></li>
						<li><a href="#">Photoshop</a></li>
						<li><a href="#">Html</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid tweet">
					<h4>latest tweets</h4>
					<div class="border2"></div>
					<div class="icon-3-square">
						<a href="#"><i class="square-3"></i></a>
					</div>
					<div class="icon-text">
						<p>I like this awesome freebie. Check it out<a href="#"></a></p>
						<h5>About 15 mins</h5>
					</div>
					<div class="clearfix"></div>
					<div class="icon-3-square">
						<a href="#"><i class="square-3"></i></a>
					</div>
					<div class="icon-text">
						<p>I like this awesome freebie. Check it out<a href="#"></a></p>
						<h5>About 15 mins</h5>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 footer-grid flickr">
					<h4>flickr feed</h4>
					<div class="border2"></div>
					<div class="flickr-grids">
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f1.png" alt=" " title="CEO" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f2.png" alt=" " title="GM" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f3.png" alt=" " title="CEO" /></a>
						</div>
						<div class="clearfix"> </div>

						<div class="flickr-grid">
							<a href="#"><img src="~/images/f4.png" alt=" " title="GM" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f3.png" alt=" " title="CEO" /></a>
						</div>
						<div class="flickr-grid">
							<a href="#"><img src="~/images/f2.png" alt=" " title="GM" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="logo2  wow bounceInLeft" data-wow-delay="0.4s"><a href="index.html"><img src="~/images/logo2.png" alt="/title="logo" /></a></div>
			<p class="write  wow bounceInRight" data-wow-delay="0.4s">Copyright &copy; 2015.Company name All rights reserved.More Templates  - Collect from </p>
		</div>
		<div class="clearfix"></div>
	</div>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/move-top.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/easing.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/wow.min.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/jquery.swipebox.min.js"></script>
	<script type="text/javascript" src="~/Scripts/SubScripts/jquery.mixitup.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			jQuery(function ($) {
				$(".swipebox").swipebox();
			});
			new WOW().init();
			$().UItoTop({ easingType: 'easeOutQuart' });
			addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
			$(function () {
				var filterList = {
					init: function () {
						$('#portfoliolist').mixitup({
							targetSelector: '.portfolio',
							filterSelector: '.filter',
							effects: ['fade'],
							easing: 'snap',
							onMixEnd: filterList.hoverEffect()
						});
					},
					hoverEffect: function () {
						$('#portfoliolist .portfolio').hover(
							function () {
								$(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
								$(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
							},
							function () {
								$(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
								$(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
							}
						);

					}

				};
				filterList.init();
			});
		});
	</script>
	<a href="#head" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
